body {
	background-color: #555b61;
}
.JackExpandNode li {
}

#searchbar #searchBarInput {
	border-radius: 10px;
	padding: 10px;
	background-color: #38355c;
	border-width: 0px;
}

#blogsearchlist li {
	background-color: #69678f;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 10%;
	text-align: center;
	list-style: none;
}
#blogsearchlist li ul {
	display:none;
}
#blogsearchlist li ul li {
	width: 100%;
	background-color: grey;
}
#blogsearchlist {
	padding: 0;
	width: 3000px;
	margin-top: 12px;
	left: 0px;
}

